@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&family=Karla:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
}

.layout {
  height: 200vh;
  display: grid;
  grid-template-rows: 770px 1fr 300px;
  grid-template-columns: 1fr;
  grid-template-areas:
    't'
    'm'
    'f';
}
.top {
  grid-area: t;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ------------------- CAROUSEL ------------------- */

.carousel {
  overflow: hidden;
  height: 770px;
  width: 1440px;
}

.container-car {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

img {
  object-fit: cover;
  height: 960px;
  width: 1440px;
}

/* ------------------- ABOUT ------------------- */

#about {
  display: grid;
  height: 540px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  align-content: center;
  box-sizing: border-box;
}

#paragraphs {
  padding: 60px;
}

#h1-about {
  font-family: 'hind!', sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin: 20px 0 20px 0;
}

#p-about {
  font-family: 'hind!', sans-serif;
  font-size: 24px;
  line-height: 38px;
  text-align: justify;
}

#pic-about {
  margin: 0;
  padding: 0;
  background-image: url(images/img2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------- PLANS ------------------- */

main {
  display: grid;
  height: 300vh;
}
.middle {
  background: rgb(255, 255, 255);
  grid-area: m;
}
.footer {
  background: #fdfdfd;
  grid-area: f;
  margin-top: 5px;
}

.item {
  text-decoration: none;
  color: white;
}

.item-2 {
  text-decoration: none;
  color: black;
}

.caixas {
  height: 820px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.caixa-uni {
  width: 300px;
  height: 460px;
  margin-top: 70px;
  background-color: rgb(156, 156, 156);
  box-shadow: 0px 0px 10px 0px black;
}

.img-m {
  width: 100%;
  max-height: 40%;
  float: top;
}
#cx1,
#cx2,
#cx3 {
  text-align: left;
}

.plans {
  font-family: 'hind', sans-serif;
  margin-left: 30px;
}
.plans h3 {
  color: orangered;
  font-size: 30px;

  margin: 0;
  padding: 0;
}

.button {
  background-color: orangered;
  color: white;
  border: 0;
  width: 90%;
  height: 30px;
  margin-left: 5%;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'hind!', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.button:hover {
  background: hsl(22, 95%, 60%);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  color: gray;
}

#button-1 {
  margin-top: 47px;
}
#button-2 {
  margin-top: 30px;
}
#button-3 {
  margin-top: 14px;
}

#text {
  height: 400px;
  font-family: 'hind', sans-serif;
  margin: 0px 300px;
  
}

#text h2 {
  font-family: 'hind', sans-serif;
  font-size: 60px;
  margin-bottom: -50px;
}
#text p {
  font-family: 'hind', sans-serif;
  font-size: 30px;
  
}

.nav-1 {
  position: absolute;
  z-index: 9999;
}

.nav-1 ul {
  font-family: 'hind', sans-serif;
  list-style-type: none;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.nav-1 li {
  margin-right: 30px;
}

.box1 {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
}
.box2 {
  display: flex;
  justify-content: space-evenly;
}

.email {
  font-family: 'hind', sans-serif;
  font-size: 25px;
  margin-top: 45px;
  text-decoration: underline;
}

.nav-2 ul {
  font-family: 'hind', sans-serif;
  list-style-type: none;
  font-size: 30px;
  display: flex;
  margin-top: -30px;
}

.nav-2 li {
  margin-right: 80px;
}
#logo {
  background-color: #ff5933;
  font-family: 'hind', sans-serif;
  font-size: 23px;
  border-radius: 3px;
  padding: 10px;
  padding-top: 5px;
  padding-right: 30px;
  font-weight: 700;
  margin-left: 24px;
  margin-right: 26px;
  width: 69px;
  height: 27px;
}
.tel {
  font-family: 'hind', sans-serif;
}

.text-plans {
  line-height: 16px;
}

/* ------------------- LOCATION ------------------- */

#location {
  height: 560px;
  display: grid;
  margin: 0;
  padding: 0;
  align-content: center;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#form {
  display: flex;
  margin: 0;
  padding: 50px 50px 0 50px;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #fefefe;
}

legend {
  font-family: 'hind!', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
}

#name {
  height: 50px;
  margin: 0 0 7.5px 0;
  font-family: 'hind!', sans-serif;
  font-size: 25px;
  border-radius: 10px;
}

#message {
  height: 260px;
  margin: 7.5px 0 35px 0;
  font-family: 'hind!', sans-serif;
  font-size: 25px;
  border-radius: 10px;
}

#btn-form {
  background-color: orangered;
  color: white;
  border: 0;
  width: 140px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'hind!', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#btn-form:hover {
  background: hsl(22, 95%, 60%);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  color: gray;
}

/* ------------------------------ 820px ----------------------------------- */
@media(max-width:820px) {
  
  body {
    width: 820px;
  }
  .carosel-car{
    width:820px;
  }
  .middle{

  }
  .caixas {
    height: 820px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-right:0;
    padding-right: 0px;
    width: 800px;
    text-align: center;
    align-content: space-around;
    
  }
  .caixa-uni {
    width: 220px;
    
    height: 400px;
    margin-top: 0px;
    background-color: rgb(156, 156, 156);
    box-shadow: 0px 0px 10px 0px black;
  }
  .plans {
    font-family: 'hind', sans-serif;
    margin-left: 20px;
  }
  .plans h3 {
    color: orangered;
    font-size: 20px;
  
    margin: 0;
    padding: 0;
  }
  .button {
    background-color: orangered;
    color: white;
    border: 0;
    width: 60%;
    height: 20px;
    margin-left: 20%;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'hind!', sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
  .text-plans {
    line-height: 16px;
    font-size: 13px;
  }
  strong{
    font-size: 14px;
  }
  .middle {
    
    background: rgb(255, 255, 255);
    grid-area: m;
    margin: 0;
    padding: 0;
  }
  #text p {
    font-family: 'hind', sans-serif;
    font-size: 30px;
    width: 600px;
    margin-top:70px;
    
  }
}

/* ------------------- 390px ------------------- */

@media (max-width: 390px) {
  /* ------------------- HOME ------------------- */

  body {
    width: 390px;
  }

  .layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 260px 1fr 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      't'
      'm'
      'f';
  }
  .top {
    grid-area: t;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .carousel {
    overflow: hidden;
    height: 260px;
    width: 390px;
  }

  .container-car {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }

  img {
    object-fit: cover;
    height: 260px;
    width: 390px;
  }

  #about {
    display: grid;
    height: 700px;
    width: 390px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
    align-content: center;
    box-sizing: border-box;
  }

  #h1-about {
    font-family: 'hind!', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0 20px 0;
  }

  #p-about {
    font-family: 'hind!', sans-serif;
    font-size: 12px;
    line-height: 38px;
    text-align: justify;
  }

  .nav-1 {
    position: absolute;
    z-index: 9999;
  }

  .nav-1 ul {
    font-family: 'hind', sans-serif;
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }

  .nav-1 li {
    margin-right: 30px;
  }

  #logo {
    background-color: #ff5933;
    font-family: 'hind', sans-serif;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    padding-top: 5px;
    padding-right: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
    width: 62px;
    height: 24px;
  }

  #pic-about {
    margin: 0;
    padding: 0;
    width: 390px;
    background-image: url(images/img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    width: 390px;
  }

  .box1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box2 {
    flex-direction: column;
  }

  .nav-2 ul {
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    margin-top: 10px;
  }

  .tel {
    font-size: 30px;
    margin-bottom: -30px;
  }

  .email {
    margin: 0;
  }

  /* ------------------- LOCATION ------------------- */

  #location {
    grid-template-columns: 1fr;
    grid-template-rows: 350px 370px;
  }

  #form {
    padding: 20px 40px 0 40px;
  }

  legend {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #message {
    height: 100px;
    font-size: 20px;
    margin: 7.5px 0 20px 0;
  }

  #name {
    height: 35px;
    font-size: 20px;
  }
}
/* ------------------------- HOME ---------------------------------------- */
@media (max-width: 820px) {
  body {
    width: 820px;
  }

  .layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 350px 1fr 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      't'
      'm'
      'f';
  }
  .top {
    grid-area: t;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .carousel {
    overflow: hidden;
    height: 350px;
    width: 820px;
  }

  .container-car {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }

  img {
    object-fit: cover;
    height: 547px;
    width: 820px;
  }

  #about {
    display: grid;
    height: 700px;
    width: 820px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
    align-content: center;
    box-sizing: border-box;
  }

  #paragraphs {
    padding: 45px;
  }

  #h1-about {
    font-family: 'hind!', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0 20px 0;
  }

  #p-about {
    font-family: 'hind!', sans-serif;
    font-size: 17px;
    line-height: 38px;
    text-align: justify;
    margin-bottom: 0;
  }

  .nav-1 {
    position: absolute;
    z-index: 9999;
  }

  .nav-1 ul {
    font-family: 'hind', sans-serif;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
  }

  .nav-1 li {
    margin-right: 30px;
  }

  #logo {
    background-color: #ff5933;
    font-family: 'hind', sans-serif;
    font-size: 30px;
    border-radius: 3px;
    padding: 10px;
    padding-top: 5px;
    padding-right: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
    width: 100px;
    height: 38px;
  }

  #pic-about {
    margin: 0;
    padding: 0;
    width: 820px;
    background-image: url(images/img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    width: 820px;
    height: 215px;
  }

  .box1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box2 {
    flex-direction: column;
  }

  .nav-2 ul {
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    padding: 0;
  }
  .nav-2 li {
    margin: 0 30px 0 30px;
  }

  .tel {
    font-size: 30px;
    margin-bottom: -30px;
  }

  .email {
    margin: 0;
  }
/* -------------------------------  LOCATION  ------------------------------ */
  #location {
    height: 610px;
  }

  #map {
    height: 420px;
  }

  #form {
    height: 420px;
    padding: 30px 30px 0 30px;
  }

  legend {
    font-size: 20px;
    margin-bottom: 25px;
  }

  #name {
    font-size: 20px;
    height: 40px;
  }

  #message {
    height: 185px;
    font-size: 20px;
  }
}
